
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
* {
	margin:5px;
	padding: 5px;
	box-sizing: border-box;
}
body{
	font-family: 'Black Ops One', cursive;
	color: #eff7f6;
	background-color: #141114;
}



#class{
	font-size: 40px;
	text-align: center;
	font-family: 'Black Ops One', cursive;
	color: black;
}
.score-board{
  	width: 130px;
  	height: 100px;
	border:2px solid #eff7f6;
	text-align: center;
	margin:15px auto; /*top and bottom 20 px and centre it*/
	padding: 17px 17px;
	font-size: 15px;
	position: relative;
	box-shadow:
    inset -20px 0 80px rgb(63, 60, 63),
    inset -20px 0 300px rgb(160, 101, 116),
    0 0 50px rgb(136, 18, 18),
    10px 0 80px rgb(201, 55, 55);
    
}

  

.choices{
	text-align: center;
	margin-top:20px;
}

img{
	width: 10rem;
	display: inline-block;
	border-radius: 50%;
	margin:20px;
	width: 10rem;
	transition: 0.3s ease-in;
}
img:hover:hover{
	cursor: pointer;
	background-color: #eff7f6;
}
#text{
	text-align: center;
	font-size: 30px;
	padding: 5px;
	transition: 0.3s ease-in;
}

  button {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: rgba(77, 67, 67, 0.034);
	margin: auto;
	
   
    
  }