@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


body {
    background-color: #fbecd3;
}

h1{
    font-family: 'Monoton', cursive;
    margin-top:-30px;
    color: #873e23;
    
}


img{
    width:25%;
    margin-left:40px;
    margin-top:20px;
 
}

.container{
    margin-top: -280px;
    margin-left: 330px;
    font-family: 'Cabin Sketch', cursive;
    color: #873e23;
    width: 650px;

}


h4{
    color:#873e23;
    font-family: 'Cabin Sketch', cursive;
    
}


.content{
    width: 980px;
    height: 400px;
    background-color:rgba(255, 255, 255, 0.6);
    margin-top: 70px;
}